/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

body
	background-image url("../images/img-fondo.jpg")
	
html, body
	height 100%
	overflow-x hidden	
	
iframe
	width 100%

p
	font-family $Sofi
	color $Blanco

section
	margin 0 auto 30px
	width 80%

hr
	border 1px dotted $Blanco
	width 100%	
	margin 30px auto

.clear
	clear both
	
.img-responsive
	width 100%
		
.conte-titulos
	width 100%
	text-align center

	h1
		color $Azul
		font-family $SwB
		text-transform uppercase
		float left

	p
		border-left 1px solid $Blanco
		float left
		height 35px
		margin-left 10px
		margin-top 25px
		padding-left 10px
		text-align left
		text-transform uppercase

.conte-drag-img
	background-color rgba(255,255,255,0.4)
	height 273px

	p
		text-align center
		margin-top 92px

.cont-titulo-destino

	h2
		color $Azul
		float left
		font-family $SwB
		font-size 2.3rem
		text-transform uppercase
	
	p
		float left
		margin 48px 0 0 10px
		text-transform uppercase

.cont-iframe
	border 2px solid $Azul
	


