.iconos
	width 27px
	height 27px
	display inline-block

.mas
	background-image url("../images/icono-mas.png")
	margin -8px 0 0 -34px
	position absolute

.reinicia
	background-image url("../images/icono-reiniciar.png")
	margin -8px 0 0 -34px
	position absolute
	
.btn-agregar
	background-color transparent
	border 1px solid $Blanco
	color $Blanco
	font-family $Sofi
	height 63px
	left 38%
	top 30%
	position relative
	text-transform uppercase
	width 300px
	
	&:hover
		background-color $Azul
		border 1px solid $Azul
		color $Blanco

.conte-botones-destinos
	button
		background-color transparent
		border 1px solid $Blanco
		color $Blanco
		font-family $Sofi
		text-transform uppercase
		padding 10px
		margin-bottom 20px
		
		&:hover
			background-color $Azul
			border 1px solid $Azul
			color $Blanco

.btn-reiniciar
	background-color transparent
	border 1px solid $Blanco
	color $Blanco
	font-family $Sofi
	text-transform uppercase
	padding 10px
	float right
	margin-top 20px
	width 200px
	position relative
	
	&:hover
			background-color $Azul
			border 1px solid $Azul
			color $Blanco
	