@font-face
  font-family 'Sofia'
  src url('../fonts/SofiaProLight.eot')
  src url('../fonts/SofiaProLight.eot') format('embedded-opentype'),
         url('../fonts/SofiaProLight.woff2') format('woff2'),
         url('../fonts/SofiaProLight.woff') format('woff'),
         url('../fonts/SofiaProLight.ttf') format('truetype'),
         url('../fonts/SofiaProLight.svg') format('svg')
  font-weight normal
  font-style normal
  
@font-face
  font-family 'Swiss-B'
  src url('../fonts/Swiss721BoldCondensedBT.eot')
  src url('../fonts/Swiss721BoldCondensedBT.eot') format('embedded-opentype'),
         url('../fonts/Swiss721BoldCondensedBT.woff2') format('woff2'),
         url('../fonts/Swiss721BoldCondensedBT.woff') format('woff'),
         url('../fonts/Swiss721BoldCondensedBT.ttf') format('truetype'),
         url('../fonts/Swiss721BoldCondensedBT.svg') format('svg')
  font-weight normal
  font-style normal
