@media (max-width 1366px)
	.btn-agregar
		left 36%

@media (max-width 1000px)
	.btn-agregar
		left 30%

@media (max-width 800px)
	.col-sm-5
		width 30%
	
	section
		width 90%


@media (max-width 600px)
	.col-sm-5
		width 40%
	
	.btn-agregar
		left 22%

@media (max-width 400px)
	.col-sm-5
		width 60%
	
	section
		width 100%
	
	.btn-agregar
		left 10%


@media (max-width 320px)
	.btn-agregar
		width 90%
		left 5%