.cont-logo-CNG
	margin 0
	
.cont-eventos-hora
	float left
	margin 20px 0 0 50px
	text-align center
	width 1083px

.cont-map-eventos
	float left
	margin 50px 0 0 120px
	width 2550px

.eventos
	margin-top 40px

.cont-eventos-actual
	margin-top 20px	
	
.fecha-evento
	float left
	font-size 3rem
	margin -24px 0 20px
	width 83%
	
.cont-info-evento
	background rgba(255, 255, 255, 0.2)
	float left
	height 180px
	width 180px
	
	&:last-child
		margin-left 40px
		
.img-icono-calendario
	background-image url("../images/Icono-calendario.png")
	height 103px
	position relative
	margin-right 20px
	width 88px
	
.conte-hora-lugar-evento
	margin 50px auto 0
	width 406px
	
.icono-hora-evento
	background-image url("../images/Icono-hora-evento.png")
	height 88px
	background-position-y -8px
	margin-top 20px
	width 88px

.hora-evento-text, .lugar-evento-text
	margin 2px 0 0
	font-size 2rem

.icono-lugar-evento
	background-image url("../images/Icono-lugar-evento.png")
	height 88px
	margin-top 20px
	width 88px
	background-position-y -8px

.conte-edificio-evento
	margin 50px auto 0
	text-align center
	height 60px
	text-transform uppercase
	padding-top 10px
	width 90%

.icono-edificio-evento
	background-image url("../images/Icono-edificio-evento.png")
	float left
	height 55px
	position relative
	top -4px
	left 330px
	width 55px
	
.nombre-edificio
	margin 0 
	font-size 2.5rem
	
.contedor-mapa-lugares
	padding 20px

.conte-tabla-coming
	display flex
	float left
	width 80%

.cont-logo.tecno
	float right
	
.img-ruta 
	position absolute
	left 1270px
		
table
	    margin 40px auto 0
	    width 100%
	    display none
	    
	thead
		font-family $SwL
		tr
			height 50px
			border-bottom 1px dotted $Blanco
			
			th
				color $AmarilloOscuro
				font-size 3rem
				text-align center
	
	tbody
		font-family $SwL
		tr
			height 50px
			border-bottom 1px dotted $Blanco
			td
				color $Blanco
				font-size 3rem
				text-align center
				padding 10px 0



/*BTN EDIFICIOS*/

.edicicio-A
	background $Amarillo

.edicicio-C
	background $Verde

.edicicio-E
	background $Rosado

.edicicio-F
	background $Morado

.edicicio-G
	background $Magenta

.edicicio-H
	background $Naranja

.edicicio-I
	background $AmarilloVer

.edicicio-K
	background $VerdeEsme

.edicicio-L
	background $Limon

.edicicio-M
	background $AguaMarina	

.edicicio-N
	background $Vinotinto

.edicicio-P
	background $AmarilloOscuro

.edicicio-T
	background $MagentaOscuro

.edicicio-EVL
	background $Rojo
	

.titulo
	color $Blanco
	width 75%
	text-align center
	float left
	font-size 9rem
	font-family $SwB
	margin-bottom 40px

#reloj
	color $Blanco
	width 25%
	float left
	font-size 3rem
	line-height 170px
/*Traer*/

.titulo-traer-btn
	text-align center	
	margin-top 40%
	width 100%


	
	