//Footer

footer.container-fluid
	div.row
		div.col-lg-12
			h3.block-center.text-center hecho por : sebastian sanabria | hugo  celis


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')

else
	script(src='js/libs/jquery.js')
	script(src="js/libs.min.js")